.events {
  margin-top: 100px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  text-align: left !important;
}
.events_item {
  width: 545px;
  height: 219px;
  left: 135px;
  top: 177px;
  background: #fff;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 15px;

  display: flex;
}

.events_item > img {
  width: 194px;
}

.events_info {
  margin-left: 15px;
  display: flex;
}

.events_btn {
  height: 30px;
  align-items: right;
}
